@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Rubik:wght@500&family=Shadows+Into+Light+Two&display=swap');

/* Montando a Variavel */

:root {
  --pagebg: #fff; /* Cor de Fundo - Branca*/
  --main: #e7272d;
  --lightbg: #fff;
  --bglink: rgba(139, 130, 130, 0.3);
  --cor_preto: radial-gradient(
    circle at 50% -20.71%,
    #1e3e46 0,
    #1f393e 8.33%,
    #1f3336 16.67%,
    #202d2e 25%,
    #202727 33.33%,
    #1f2020 41.67%,
    #1d1819 50%,
    #1b0f13 58.33%,
    #19040e 66.67%,
    #160009 75%,
    #120005 83.33%,
    #0c0003 91.67%,
    #030003 100%
  );
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arvo;
  background-color: var(--pagebg);
}

.container {
  max-width: 1100px;
  padding: 10px 0px;
  margin: auto;
}

header {
  font-size: 28px;
  padding: 10px 0px;
}

header .container {
  display: flex;
  justify-content: space-between; /* Espaçamento entre os itens de forma oganizada - proporcional - todos os elementos ficam iguais */
}

header a {
  text-shadow: 0px 3px 2px rgb(116, 116, 116);
  text-decoration: none;
  color: var(--cor_preto);
  font-family: Arvo;
}
header input {
  padding: 8px 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid var(--main);
  font-family: Arvo;
}

nav {
  background: var(--cor_preto);
  color: var(--lightbg);
  padding: 20px 0px;
}

ul {
  list-style: none;
  max-width: 1110px;
  margin: auto;
  display: flex;
  justify-content: space-around; /* Espaçamento em volta do elemento */
}

ul li a {
  color: var(--lightbg);
  text-decoration: none; /* Retirar os sublinhados do texto */
  padding: 5px 15px;
  border-radius: 10px; /* Arrendondar as bordas */
  font-family: Arvo;
}

ul li.active a,
ul li:hover a {
  background-color: var(--bglink);
}

.banner {
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--pagebg);
  font-size: 64px;
  font-weight: bold;
  text-shadow: 195px 295px 94px var(--cor_preto);
  font-family: 'Arvo';
  margin: 0px 0px 0px 0px;
  line-height: 1.2;
  letter-spacing: 0px;
}

h2 {
  color: var(--main);
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
  font-style: normal;
  font-family: 'Shadows Into Light Two', handwriting;
  line-height: 1.6;
  letter-spacing: 1px;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Dividir imagem por linha  */
  gap: 20px;
}

.item-img {
  width: 250px;

  height: 250px;
  border-radius: 10px;
  /* border: 5px solid rgb(213, 193, 238); */
}

.item-img:hover {
  transform: scale(1.1);
}

.item-name {
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
}

.item-color,
.item-sexo {
  font-size: 14px;
}

footer {
  border-top: 2px solid var(--main);
  padding: 20px 0px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: var(--lightbg);
  background-color: var(--main);
  font-family: Arvo;
}

.item-img1 {
  display: flex;
  position: absolute;
  top: -5px;
  left: 38px;
  padding: 10px 0px;
  width: 75px;
  height: 70px;
}
