{{>partials/header}}
{{#banner}}
 <section class="banner" style="background-image: url('img/{{ background }}')">{{title}}</section>
    <h2 class="title_logo">"{{title}} Disponivéis"</h2>  
{{/banner}}
    <div class="container list">
{{! "Função das paginas - Img/Busca" }}
      {{#list}}
        <div class="item">
          <img src="img/{{image}}" class="item-img">
          <div class="item-name">{{name}}</div>
          <div class="item-color">{{color}} </div>
        </div>
      {{/list}}   
    </div>  
    {{! "Se ERROR na pagina/Não encontrado" }}
    {{^list}}
      <div class ="container no-list">
      <h2>OPS! Produto Não Encontrado</h2>
      <img src="img/atencao2.jpg">
      
       </div>
    {{/list}}

{{>partials/footer}}