{{>partials/header}}
{{#banner}}
 <section class="banner" style="background-image: url('img/imagens/{{ background }}')">{{title}}</section>
    <h2 class="title_logo">"{{title}} Disponivéis"</h2>  
{{/banner}}
    <div class="container list">
      <div class="item">
        <img src="img/imagens/hamb1.jpg" class="item-img" alt="Cat Burguer">
         <div class="item-name">Burguer Cat</div>
        <div class="item-color">Cor : Preto, Amarelo </div>
        <div class="item-sexo">Sexo : 2 Carnes </div>
      </div>  
    </div>  

{{>partials/footer}}