<!DOCTYPE html>
<!-- Projeto ONG - Introdução Node JS - 29/08/2022 -->
<html lang="pt-br">
  <head>
    <title>Burger's.exe</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Links -->
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="shorcut icon" href="../img/favicon.ico" type="img/x-icon" />
  </head>
  <header>
    <body>
    <div class="img-lo">
    <a href ="/"><img src="img/Log_14.png" class="item-img1"></a>  
    </div>
    <div class="container">
      <a href="/">BURGUER'S.exe</a>
      <form action="/search" method="get">
        <input class ="busca" type="search" name="busca" placeholder="Pesquise por Produto" value ="{{ query }}"/>
      </form>
    </div>
  </header>
    <nav>
      <ul>
        <li class="{{#menu.all}}active{{/menu.all}}"><a href="/">Todos</a></li>
        <li class="{{#menu.hamburguer}}active{{/menu.hamburguer}}"><a href="/hamburguer">Hamburguer</a></li>
        <li class="{{#menu.bebidas}}active{{/menu.bebidas}}"><a href="/bebidas">Bebidas</a></li>
        <li class="{{#menu.doces}}active{{/menu.doces}}"><a href="/doces">Doces</a></li>
      </ul>
    </nav>